@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: #f9fade;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://images.pexels.com/photos/10326878/pexels-photo-10326878.jpeg?auto=compress&cs=tinysrgb&w=640);
}

.title{
    color: #4070f4;
}

.heading{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.sub_heading{
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 3px;
    color: #80471c;
}

.wrapper{
    width: 320px;
    min-height: 400px;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #4070f4;
    background-color: #f0f1ff;
    color: #000000;
    border-radius: 7px;
}

.wrapper p{
    font-size: 18px;
    margin-top: 5px;
    text-transform: capitalize;
    text-align: center;
}

.wrapper label{
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.wrapper input{
    font-size: 20px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1.5px solid #4a66b4;
}

.wrapper input:focus{
    border-color: #4a66b4;
}

.wrapper #rotate_c{
    cursor: pointer;
    color: #4a66b4;
    font-size: 20px;
    margin-top: 46px;
    padding: 0 13px;
}

.wrapper #rotate_c:hover{
    transform: scale(1.1);
}

.wrapper form{
    margin: 20px 0 5px 0;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form input{
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
}

form input:focus{
    padding: 0 14px;
    border: 2px solid #675AFE;
}

form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box{
    display: flex;
    width: 110px;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    background: #fff;
}

.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar{
    width: 8px;
  }
  .select-box select::-webkit-scrollbar-track{
    background: #fff;
  }
  .select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }

.select-box img{
    max-width: 25px;
}

form .exchange-rate{
    font-size: 15px;
    margin: 20px 0 25px;
    font-weight: 500;
    color: #3a0ae6;
}

form button{
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    background: #675AFE;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    
}

form .love {
    font-weight: 500;
    text-align: center;
    padding: 5px;
    color: black;
}

a:link {
  color: rgb(240, 97, 121);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(240, 97, 121);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

.wrapper .crypto_btn:hover,
.wrapper .convert_btn:hover{
    color: #000000;
}

.crypto_btn{
    width: 80%;
    height: 35px;
    color: #f9fade;
    font-size: 13px;
    cursor: pointer;
    background: #4070f4;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
}

/* crypto */

.body_crypto{
    background: #3a0ae6;
}

.title__crypto{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
    text-align: center;

}

.container_crypto{
    width: 80%;
    height: 80%;
    background: #fff;
    margin-top: 10px;
}